<section class="contact-cta">
  <div class="container">
    <div class="contact-cta__inner">

      <div class="contact-cta__image">
        <img src="/images/index/feedback_women.png" alt="Врач клиники Гармония">
      </div>

      <div class="contact-cta__text">
        <h3>Возникли вопросы?</h3>
        <p>Свяжитесь с нами любым удобным <br/> для Вас способом.</p>
        <a href="tel:+74822368433" class="contact-cta__phone">+7 (4822) 36 84 33</a>
      </div>

      <div class="contact-cta__actions">
        <a href="#" class="contact-cta__btn-filled">Записаться на прием</a>
        <a href="#" class="contact-cta__btn-outline">Вызвать врача</a>
      </div>

    </div>
  </div>
</section>
