
<section class="doc-banner section">
  <div class="container">
    <div class="doc-banner__card">
      <div class="doc-banner__content">
  
         <h2 class="doc-banner__title">Документы и лицензии</h2>
        
 <div class="doc-banner__text-cont">
  <a href="/documents.html" class="doc-banner__link">Подробнее о наших лицензиях, <br/> сертификатах, документах</a>
        <button class="doc-banner__btn" aria-label="Подробнее">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </button>
 </div>
      </div>
      <div class="doc-banner__images">
        <img src="/images/about/certificates/sert1.png" alt="Свидетельство" class="doc-banner__sert doc-banner__sert--back">
        <img src="/images/about/certificates/sert2.png" alt="Свидетельство" class="doc-banner__sert doc-banner__sert--front">
      </div>
    </div>
  </div>
</section>
