{# ─── Hero / Акция ──────────────────────────────────────────────────────────── #}
<section class="hero-banner">
  <div class="container">
    <div class="swiper js-hero-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/index/Баннер.png" alt="Акция" class="hero-banner__slide-img"></div>
        <div class="swiper-slide"><img src="/images/index/Баннер.png" alt="Акция" class="hero-banner__slide-img"></div>
        <div class="swiper-slide"><img src="/images/index/Баннер.png" alt="Акция" class="hero-banner__slide-img"></div>
        <div class="swiper-slide"><img src="/images/index/Баннер.png" alt="Акция" class="hero-banner__slide-img"></div>
        <div class="swiper-slide"><img src="/images/index/Баннер.png" alt="Акция" class="hero-banner__slide-img"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
