<div class="topbar">
  <div class="container">
    <div class="topbar__inner">
      <div class="topbar__contacts">
        <a href="#" class="topbar__contact">
          <img src="/images/header/h_map.svg" alt="" class="topbar__icon" />
          г. Тверь, ул. Желябова, 75
        </a>
        <a href="tel:+74822368433" class="topbar__contact">
          <img src="/images/header/h_phone.svg" alt="" class="topbar__icon" />
          +7 (4822) 36 84 33
        </a>
      </div>
      <div class="topbar__actions">
        <a href="#" class="btn-appointment">Записаться на прием</a>
        <a href="#" class="btn-call">Вызвать врача</a>
      </div>
    </div>
  </div>
</div>
